@using LoginTest.Models;
@model IEnumerable<BinhLuan>
@foreach (var item in Model.Take(2))
{
    <div class="media1">
        <h5>@item.User.HoTen</h5>
        <div class="media-left">
            <a href="#">

            </a>
        </div>
        <div class="media-body">
            <p>@item.NoiDung</p>
            <span>Thời Gian :<a href="#"> @item.ThoiDiemBinhLuan </a></span>
        </div>
    </div>}