@using LoginTest.Models;
@model IEnumerable<BaiViet>

@{
    IEnumerable<BaiViet> lstHT = (IEnumerable<BaiViet>)ViewBag.ListHT;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>ShareYour</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="My Play Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--bootstrap-->
    <link href="/Content/css/bootstrap.min.css" rel='stylesheet' type='text/css' media="all" />

    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.css">

    <!--link tạo nút đăng nhập facebook-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- //bootstrap -->
    <link href="/Content/css/dashboard.css" rel="stylesheet">
    <!-- Custom Theme files -->
    <link href="/Content/css/style1.css" rel='stylesheet' type='text/css' media="all" />
    <script src="/Content/js/jquery-1.11.1.min.js"></script>
    <!--start-smoth-scrolling-->
    <!-- fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <!-- //fonts -->
    <style>
        .navbar-toggle .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            background-color: #000;
            border-radius: 1px;
        }
    </style>

    <style type="text/css">
        #element1 {
            display: inline-block;
        }

        #element2 {
            display: inline-block;
            margin-right: 10px;
        }

        #element3 {
            display: inline-block;
            margin-right: 10px;
            position: relative;
        }
    </style>

    <style>
        .container-right {
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 15px;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
</head>
<body>
    <div class="main-grids" style="padding-top:90px">
        <!--Gán dữ liệu từ controller thông qua Viewbag vào Partialview-->
        <div class="top-grids">
            @Html.Partial("~/Views/BaiViet/BaiVietStyle3Partial.cshtml", lstHT)
        </div>
    </div>

</body>



