@model LoginTest.Models.BinhLuan
@{
    ViewBag.Title = "ThemBinhLuan";
}
@using (Html.BeginForm("ThemBinhLuan", "NguoiViet", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-sm-1">
                <h5 style="white-space:nowrap">
                    Bình luận
                </h5>
            </div>
            <div class="col-md-11">
                @Html.TextAreaFor(model => model.NoiDung, new { @class = "form-control", @rows = 2 , @style = "width:100%" })
                @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
               
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" value="Gửi" style="float:right" class="btn btn-default" />
            </div>
        </div>
    </div>
}
